    public enum {{enumName}}: {{^isContainer}}{{dataType}}{{/isContainer}}{{#isContainer}}String{{/isContainer}}, Codable {
        {{#allowableValues}}
        {{#enumVars}}
        case {{name}} = {{{value}}}
        {{/enumVars}}
        {{/allowableValues}}
        case parsed_unknown

        public init(from decoder: Decoder) throws {
            self = try {{enumName}}(rawValue: decoder.singleValueContainer().decode({{^isContainer}}{{dataType}}{{/isContainer}}{{#isContainer}}String{{/isContainer}}.self)) ?? .parsed_unknown
        }
    }
